# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- C++

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. C++
5. Julia
6. Java
7. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Matplotlib
4. Pandas
5. Apache Spark
6. TensorFlow

|Data Science Tools|
| ---------------- |
|Jupyter Notebooks|
|Zeppelin Notebooks|
|RStudio|
|ApacheSpark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Olesia Solodrai

In [ ]:
11-authordetails